#home .background-solid,
#testimonials .background-solid,
#downloads .background-solid,
.righting input[type="submit"],
.indicator,
.indicator-right,
.pricing h3,
.check,
.order {
    background: #FE5F5F;
}

.nav-active:after,
.screen,
.add-colored-line,
.add-colored-line-two,
.get,
#nprogress .bar, 
#contact p input,
.subscribe,
.owl-theme .owl-controls .owl-page.active span,
.price-container {
    background: #FE6F6F;
}

@media (min-width: 992px) {
    
    .top-column > div em,
    .bottom-column > div em {
        background: #FE6F6F;
    }
    
}

.colored-line, .colored-line-two {
	border: 4px solid #FE6F6F;
}

.icon, 
.nav-active,
.top-column > div:hover h4,
.bottom-column > div:hover h4,
.top-column > div:hover .icon,
.bottom-column > div:hover .icon,
.item-title, #nprogress .spinner:before,
.login-button {
    color:#FE6F6F !important;
}

#nprogress .spinner-icon {
  border-top-color: #FE6F6F;
  border-left-color: #FE6F6F;
}

#contact div input:focus,
#contact div textarea:focus,
.email:focus,
.signup > input:focus,
.login > input:focus {
    border: 2px solid #FE6F6F;
}

.top-column > div em:before {
    border-top: 14px solid #FE6F6F;
}

.bottom-column > div em:before {
    border-bottom: 14px solid #FE6F6F;
}

.services-icon,
.services-detail:first-line {
    color: #FE5F5F;
}

.services-icon .effect {
    border: 1px solid #FE5F5F;
}